extends layout

block head
    meta(name='description', content='Salut ! Moi c\'est Danyella Strikann, Développeuse Full-Stack Junior et en première année de Bachelor Universitaire Technologique des Métiers du Multimedia et de l\'internet')
    meta(name='keywords', content='alternance, danyella, strikann, développeuse, développeur, full-stack, full stack, développeur full-stack, développeuse full-stack, javascript, html, css, accueil')
    title Danyella Strikann

block content
    .hero
        .hero-text
            .avatar
            .text
                h1 Danyella Strikann
                small Développeuse full-stack Junior
        .background
        .bubble-bubble
            svg.arrow(width='32' height='32' viewBox='0 0 32 32' fill='#fff')
                path(d='M 0 32 v -32 h 32 Z')
            .bubble
                span
                    | Hey !
                    br
                    | Tu savais que la mascotte d'MMI Troyes
                    | était le canard en plastique?
            svg.arrow-stroke(width='32' height='32' viewBox='0 0 32 32' fill='transparent' overflow='visible' stroke='#000' stroke-width='6' stroke-linejoin='round')
                path(d='M 0 32 v -32 h 32 Z')
        img.rubber-duckie(src="/assets/img/rubber-duckie.avif", alt="")
    main
        section.about-me
            h2 À propos de moi
            .left
                | Je m'appelle 
                .dan-dan
                    .rot.d D
                    .rot.a1 a
                    .rot.n1 n
                    .rot.y y
                    .rot.e e
                    .rot.l1 l
                    .rot.l2 l
                    .rot.a a
                | 
                .stri-stri
                    .rot.s S
                    .rot.t t
                    .rot.r r
                    .rot.i i
                    .rot.k k
                    .rot.a a
                    .rot.n1 n
                    .rot.n2 n
                | 
                | et je suis en première année de BUT 
                .mmi
                    .mmi-mmi
                        .m1 M
                        .m2 M
                        .i I
                    | 
                    .mark !
            img(src="", alt="")
            .right
                | Je suis passionnée 
                br(class='mobile-break' style='display:none')
                #info d$#~zaç\&²é@
                br
                | depuis des années et depuis peu, j'apprend à mélanger 
                .crea
                    .c c
                    .r r
                    .e1 é
                    .a a
                    .t1 t
                    .i1 i
                    .v v
                    .i2 i
                    .t2 t
                    .e2 é
                | 
                | et développement web 
                .mark !
        section.buttons
            a.link(href='//portfolio.danyella.works')
                span.content Mon portfolio visuel
            a.link(href='//projects.danyella.works')
                span.content Mon portfolio classique
            a.link(href='//works.danyella.works')
                span.content Mon site de travail
                    span.smaller (pour les profs)