extends layout

block head
    meta(name='description', content='Mes projets et mes expériences')
    meta(name='keywords', content='alternance, danyella, strikann, développeuse, développeur, full-stack, full stack, développeur full-stack, développeuse full-stack, javascript, html, css, projets, créations')
    title Mes projets

block content
    main
        section.projects
            .title
                h1 Mes projets et mes expériences
                .arrow-down
                    a(href='#projects' title='Mes projets')
                        svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 384 512' fill='#000')
                            // !Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.
                            path(d='M169.4 470.6c12.5 12.5 32.8 12.5 45.3 0l160-160c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L224 370.8 224 64c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 306.7L54.6 265.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l160 160z')
            .projects-wrapper#projects
                .project.validity
                    img(src='/assets/img/validity.avif', alt='Projet 1' width='300' height='300')
                    h2
                        | Validity:RE
                        span.wip(title='Work In Progress | Encore en cours de développement') (⚠️W.I.P.⚠️)
                    p.
                        Il s'agit d'un bot Discord&#8482; créé pour les personnes multiples, 
                        qui permettra à termes de créer un système, des alters, des groupes, et de s’en servir comme 
                        pseudo-utilisateur !
                    a(href='//github.com/movva-gpu/ValidityRE' rel='external nofollow') GitHub
                .project.rtd
                    img(src='/assets/img/rtd-cropped.avif', alt='Projet 1' width='300' height='300')
                    h2 Fan-site sur Russell T. Davies 
                    p
                        | Dans le cadre d'un projet scolaire, j'ai réalisé un site web sur
                        | Russell T Davies, un show-runner de la série sci-fi 
                        a.dw(href='//wikipedia.org/fr/Doctor_who') Doctor Who
                        | . De plus, j'ai amélioré le site après le rendu dans l'optique de le rendre 
                        | plus accessible. Par exemple il est désormais responsive, ce qui n'était pas demandé pour le rendu.
                    a(href='//github.com/movva-gpu/SAE105' rel='external nofollow') GitHub
                    a.visit(href='//mmi23f13.sae105.ovh' rel='external nofollow') Visiter
                .project.sae103
                    img(src='/assets/img/sae103.avif', alt='Projet 1' width='300' height='300')
                    h2 Charte graphique pour le club Dévers Troyes
                    p.
                        Pour un autre projet scolaire, j'ai réalisé une charte graphique 
                        pour le club d'escalade Dévers Troyes.
                    a.open(href='sae103' rel='external nofollow') Ouvrir
                .project.scrollmagic
                    img(src='//scrollmagic.io/assets/img/demo_tophat.png', alt='Projet 1' width='300' height='300')
                    h2 Apprentissage de ScrollMagic
                    p.
                        J'ai appris par moi-même à utiliser ScrollMagic, une librairie JavaScript 
                        qui permet de créer des animations en fonction du scroll de la page. 
                        J'ai aussi du apprendre GSAP, une autre librairie JavaScript, pour 
                        pouvoir utiliser ScrollMagic.
                    a(href='//github.com/movva-gpu/ScrollMagic-Learning' rel='external nofollow') GitHub
                    a.visit(href='scrollmagic') Voir
                .project.sae101
                    img(src='/assets/img/sae101.avif', alt='Projet 1' width='300' height='300')
                    h2 Analyse sectorielle dans le secteur des webradios
                    p.
                        Lors d'un projet scolaire, nous avons réalisé une analyse approfondie 
                        du secteur des webradios, en examinant en détail les tendances, les acteurs 
                        clés et les opportunités présentes dans ce domaine en constante évolution.
                    a.open(href='sae101' rel='external nofollow') Ouvrir
                .project.sae102
                    img(src='/assets/img/sae102.avif', alt='Projet 1' width='300' height='300')
                    h2  Recommandation de communication numérique
                    p.
                        Mon groupe et moi avons rédigé recommandation de communication numérique, où j'ai pris en charge la création de la charte éditoriale et des logos de l'association.
                    a.open(href='sae102' rel='external nofollow') Ouvrir

