extends layout

block head
    meta(name='description', content='Mes projets et mes expériences')
    meta(name='keywords', content='alternance, danyella, strikann, développeuse, développeur, full-stack, full stack, développeur full-stack, développeuse full-stack, javascript, html, css, projets, créations')
    title Mes projets

block content
    main
        section.projects
            h1 Mes projets et mes expériences
            small ⚠️ Site en construction ⚠️
            p
                | Vous pouvez consulter mes projets sur mon 
                a(href="https://github.com/movva-gpu") GitHub 
                | pour le moment ainsi que sur mon 
                - var portfolio = '//' + domains.portfolio + '.' + hostname
                a(href=portfolio) portfolio
                | .
