extends layout

block head
    meta(name='description', content='Mes projets et mes expériences')
    meta(name='keywords', content='alternance, danyella, strikann, développeuse, développeur, full-stack, full stack, développeur full-stack, développeuse full-stack, javascript, html, css, projets, créations')
    title Mes projets

block content
    h1 Mes projets et mes expériences
    p Site en construction
