@import url(/modules/@fontsource-variable/jetbrains-mono/index.css); /* JetBrains Mono Variable */
@import url(/modules/@fontsource/jetbrains-mono/index.css); /* JetBrains Mono */

@import url(/modules/@fontsource-variable/urbanist/index.css); /* Urbanist Variable */
@import url(/modules/@fontsource/urbanist/index.css); /* Urbanist */

@import url(/modules/@fontsource/kalam/index.css); /* Kalam */

/* #region reset */

body {
    position: relative;
    margin: 0;
    --sans-serif: 'Urbanist Variable', 'Urbanist', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --monospace: 'JetBrains Mono Variable', 'JetBrains Mono', 'Courier New', Courier, monospace;
    --handwriting: 'Kalam', 'Segoe Print', 'Bradley Hand', Chilanka, TSCu_Comic, casual, cursive;
    font-family: var(--sans-serif);
    color: #213;
    overflow-x: clip;
}

*, ::after, ::before {
    box-sizing: border-box;
    text-wrap: balance;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-family: var(--monospace);
}

h1 {
    font-weight: 900;
}

small {
    font-size: 1.3rem;
    font-weight: 600;
}

p {
    margin: 0;
    text-wrap: balance;
}

@supports (text-wrap: pretty) {
    p {
        text-wrap: pretty !important
    }
}

/* #endregion reset */

::selection {
    background-color: #213;
    color: whitesmoke;
}

html:has(.project) {
    scroll-behavior: smooth;
    scroll-padding: calc(32px + 6em);
}

.page-transitionner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 50000;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;

    .col {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .col-1 { background-color: rgb(255, 0, 0); }
    .col-2 { background-color: rgb(255, 154, 0); }
    .col-3 { background-color: rgb(238, 255, 0); }
    .col-4 { background-color: rgb(79, 255, 74); }
    .col-5 { background-color: rgb(63, 255, 216); }
    .col-6 { background-color: rgb(47, 216, 255); }
    .col-7 { background-color: rgb(28, 127, 255); }
    .col-8 { background-color: rgb(95, 21, 255); }
    .col-9 { background-color: rgb(255, 7, 216); }
    .col-10 { background-color: #000; }
}

/* #region header */

header {
    padding: 3em;
    display: flex;
    position: fixed;
    z-index: 2000;
    width: 100%;

    details:has(#hamburger) {
        position: relative;
        width: 100%
    }

    #hamburger {
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: .5em;
        width: 48px;
        height: 100%;
        list-style-type: none;
        z-index: 1000;
        transition: rotate ease .33s
    }

    #hamburger * {
        display: block;
        background-color: black;
        height: .25em;
        width: 100%;
        border-radius: 100vw;
        transition: ease .33s
    }

    nav {
        position: absolute;
        right: 0;
        top: calc(100% + 1em);
        width: 100%
    }

    ul {
        position: relative;
        right: -20%;
        width: 80%;
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            position: relative;
            font-weight: 900;
            transition: opacity .5s ease;
            
            a {
                font-size: 7.5rem;
                transition: .5s ease;
                display: flex;
                color: #102;
                text-decoration: none;
                text-align: right;
                font-family: var(--monospace);
                align-items: center;
                justify-content: flex-end;
                gap: 1.5rem;

                .text {
                    transition: .5s ease;
                    display: inline-block;
                }

                .num {
                    display: inline-block;
                    font-size: 3rem;
                    opacity: .6;
                }
            }

            legend {
                position: absolute;
                transition: .5s ease;
                font-size: 1.5rem;
                color: #102;
                font-weight: 600;
                right: 0;
                bottom: -.5em;
                font-family: var(--monospace)
            }
        }

        li:hover {
            
            a {
                padding-right: 5rem;

                .text {
                    opacity: 1 !important;
                }
            }

            legend {
                opacity: 1 !important;
                right: 4rem;
            }
        }
    }

    ul:hover li :is(.text, legend) {
        opacity: .5
    }

    .contact {
        position: absolute;
        display: flex;
        flex-direction: column;
        left: 0;
        top: 50svh;
        translate: 0 -50% !important;
        font-family: var(--monospace);
        gap: .33em;

        legend {
            text-transform: uppercase;
            font-weight: 900;
            margin-bottom: .5em
        }

        a {
            display: flex;
            gap: .33em;
            color: black;
            text-decoration: none;
            opacity: .5;

            .text {
                position: relative
            }

            /*noinspection ALL*/

            .text::after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                border-bottom: 2px solid black;
                width: 0;
                height: 100%;
                transition: .33s ease
            }
        }

        .in::before {
            content: url(
                https://cdn.simpleicons.org/linkedin/black
            );
            display: inline-block;
            width: 1em
        }

        .in .text::after {
            left: -1.5em
        }
    }

    .background {
        position: fixed;
        top: 0;
        left: 0;
        height: calc(32px + 6em);
        width: 100%;
        z-index: -1;

        .color {
            background-color: #abf;
            opacity: .5;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            position: absolute
        }

        .blur {
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            position: absolute;
            backdrop-filter: blur(33px)
        }
    }

    custom-details {
        position: absolute;
        top: 50%;
        right: 3em;
        translate: 0 -50%;

        custom-summary {
            cursor: pointer;
            width: max-content;
            height: min-content;
            display: flex;
            align-items: center
        }
    }

    custom-details:not([open]) {
        *:not(custom-summary, custom-summary *) {
            display: none
        }
    }

    custom-details[open] {
        .links {
            display: flex;
            position: absolute;
            top: 50%;
            translate: 0 -50%;
            left: -300%;
            width: fit-content;
            gap: 1em;

            a {
                display: flex;
                text-decoration: none;
                align-items: center
            }
        }
    }

}

/* #endregion header */

.hero {
    position: relative;
    height: 100svh;
    overflow: clip;
    z-index: -1;

    .background {
        position: absolute;
        top: 0;
        left: 50%;
        translate: -50% 0;
        width: 125%;
        height: 125%;
        background: url(../img/danyella.avif) no-repeat border-box center top;
        filter: blur(50px) brightness(50%);
        background-size: cover;
        z-index: -2
    }

    .hero-text {
        position: absolute;
        top: 55%;
        left: 50%;
        translate: -50% -50%;
        width: max-content;
        padding: 3em 5em;
        border-radius: 3em;
        text-align: center;
        z-index: -1;
        color: white;
        text-shadow: black -5px 5px 5px;
        background-color: #0008;
        backdrop-filter: blur(33px);

        h1 {
            display: block;
            font-size: 3rem
        }

        small {
            display: block;
            padding-top: .5em;
            font-size: x-large;
            font-style: italic
        }

        .avatar {
            translate: 0 -80%;
            scale: 2.5;
            width: 128px;
            height: 128px;
            margin-inline: auto;
            margin-bottom: 2em;
            border-radius: 100vw;
            background: url(../img/danyella.avif) border-box center 10% / 250%
        }
    }

    .rubber-duckie {
        z-index: 11;
        position: absolute;
        bottom: 0;
        right: 0;
        rotate: -45deg;
        translate: 100% 100%
    }

    .bubble-bubble {
        display: none;
        position: absolute;
        bottom: 256px;
        right: 3em;
        width: 32ch;
        height: 8em;

        .bubble {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background-color: white;
            border: black solid 3px;
            border-radius: 1.5em;

            span {
                position: absolute;
                top: 50%;
                left: 50%;
                translate: -50% -50%;
                width: 80%;
                font-weight: 600;
                text-align: center
            }
        }
    }

    .arrow-stroke {
        content: '';
        position: absolute;
        bottom: -27px;
        right: 2em;
        z-index: -1
    }

    .arrow {
        content: '';
        position: absolute;
        bottom: -27px;
        right: 2em;
        z-index: 1
    }
}

main {
    overflow-x: clip;
    background-color: white;

    .about-me {
        margin: 4rem 4rem 0;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 16rem);
        grid-template-areas:
            'title title'
            'name name'
            'photo1 photo2'
            'passion passion';
        align-items: center;

        h2 {
            padding-block: 2rem;
            padding-inline: 4rem;
            display: block;
            grid-area: title;
            font-size: 5rem;
            font-weight: 900;
            text-align: center;
            background-color: #abf;
            border-radius: .5em;
            width: fit-content;
            place-self: center;
            backface-visibility: hidden
        }

        div {
            font-family: var(--sans-serif);
            font-size: 4rem;
            font-weight: 800;
            display: inline-block;

            * {
                display: inline-block !important
            }
        }

        .rot-cont {
            position: relative;
            display: inline-block
        }

        .left, .right {
            width: 80%;
        }

        .left {
            text-align: left;
            grid-area: name;

            .mmi {
                -webkit-font-smoothing: subpixel-antialiased
            }

            .dan-dan, .stri-stri, .mmi-mmi {
                display: inline-flex !important
            }
        }

        .right {
            text-align: right;
            grid-area: passion;
            justify-self: end;

            .crea {
                display: inline-flex !important;

                * {
                    font-family: var(--handwriting);
                    font-weight: 600
                }
            }
        }
    }

    .error, .reports {
        min-height: 90svh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h1 {
            font-size: 7rem;
            text-align: center;
        }

        a:not(p a), pre {
            font-size: 5rem;
            font-weight: 900;
        }

        small {
            font-size: 3rem;
            text-align: center;
            font-style: italic;
            margin-bottom: 1rem;
        }

        p {
            font-size: 2rem;
            text-align: center;
        }
    }

    .link {
        --_border-radius: 3rem;

        display: block;
        color: white;
        width: 50%;
        transform-origin: left;
        text-decoration: none;
        transition: scale ease 1s, padding ease 1s, border-radius ease 1s;
        border-radius: var(--_border-radius, 3rem);
        overflow: clip;
        position: relative;

        span {
            overflow: clip;
            display: block;
            padding: .2em;
            text-align: center;
            border-radius: var(--_border-radius, 3rem);
            background-color: #213;
            z-index: 10;
            font-size: 7rem;
            font-family: var(--sans-serif);
            font-weight: 800;
        }

        &:hover {
            scale: 1.2;
            padding: 25px;
            border-radius: calc(var(--_border-radius, 3rem) - 25px / 2);
        }

        &::after {
            content: '';
            position: absolute;
            width: 200%;
            height: 100%;
            top: 0;
            left: 0;
            background-image: linear-gradient(
                    90deg,
                    rgb(255, 0, 0) 0%,
                    rgb(255, 154, 0) 10%,
                    rgb(238, 255, 0) 20%,
                    rgb(79, 255, 74) 30%,
                    rgb(63, 255, 216) 40%,
                    rgb(47, 216, 255) 50%,
                    rgb(28, 127, 255) 60%,
                    rgb(95, 21, 255) 70%,
                    rgb(186, 12, 255) 80%,
                    rgb(255, 7, 216) 90%,
                    rgb(255, 0, 0) 100%
            );
            background-size: 50% 100%;
            z-index: -9;
            animation: moveBack 2s linear infinite forwards running;
        }
    }

    .buttons {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin: 0 4rem 4rem;
        place-items: center;
        gap: 2rem;
        height: calc(2.2rem * 4 + .8rem * 2);

        .link {
            --_border-radius: 2rem !important;
            margin: 1rem;
            width: fit-content;
            transform-origin: center;
            transition: scale ease 1s,
                padding ease 1s,
                border-radius ease 1s,
                margin ease 1s;
            max-height: calc(2.2rem * 4);

            &:hover {
                padding: .8rem;
            }

            .content {
                font-size: 2.2rem;
                padding: 1.2rem;

                .smaller {
                    font-size: 1.2rem;
                }
            }
        }
    }

    .port-hero {
        min-height: 100vh;
        padding-top: 20rem;
        background: #a492f1;

        h1 {
            text-align: center;
            display: block;
            position: relative;
            color: white;
            font-family: var(--sans-serif) !important;

            .title {
                font-size: 8rem;
                display: block;
            }

            .subtitle {
                font-size: 3rem;
                display: block;
            }

            svg {
                position: absolute;
                width: 669px;
                top: 50%;
                left: 50%;
                translate: -50% -50% !important;
                transform: none;
                animation: rotate 50s running forwards infinite linear;
                transition: scale 1s ease;

                .pathText {
                    font-size: .25rem;
                    fill: white;
                    letter-spacing: .5px;
                }

                path {
                    fill: transparent;
                    stroke: white;
                    stroke-width: .5px;
                }
            }
        }

        &:hover {
            svg {
                scale: 1.33 !important;
            }
        }
    }

    .port {
        .h2-wrapper {
            display: flex;

            h2 {
                font-size: 15rem;
                font-family: var(--sans-serif);
                text-transform: uppercase;
                min-width: max-content;
                color: #213;

                &::before {
                    content: 'Mes projets';
                    display: inline-block;
                    top: 0;
                    -webkit-text-stroke: 2px #213;
                    color: transparent;
                    text-transform: uppercase;
                }
            }
        }

        .validity-wrapper {
            position: relative;
            margin: 2rem auto;
            border: transparent solid 2rem;
            border-radius: 5rem;
            backdrop-filter: blur(10px);
            height: 300svh;

            img {
                position: absolute;
                top: 0;
                left: 50%;
                translate: -50% 0;
                image-rendering: pixelated;
                display: block;
                width: 50%;
                border-radius: 5rem;
            }

            .glow {
                pointer-events: none;
                filter: blur(15px);
                mix-blend-mode: screen;
                opacity: .4;
            }

            h3 {
                display: block;
                position: absolute;
                top: 17%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-size: 8rem;
                color: #213;
                text-align: center;
                width: 100%;
                z-index: 10;
            }

            pre {
                display: block;
                position: absolute;
                top: 24%;
                left: 5rem;
                font-size: 5rem;
                font-family: var(--sans-serif);
                font-weight: 800;
                color: #213;
                z-index: 10;

                span {
                    display: block;
                    rotate: -5deg;
                }

                .plural-2, .plural-4, .plural-6 {
                    -webkit-text-stroke: 5px #213;
                    color: transparent;
                }
            }

            svg {
                position: absolute;
                top: 60%;
                left: 50%;
            }

            .link {
                position: relative;
                top: 80%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }

        .rtd-wrapper {
            position: relative;
            margin-top: 5rem;
            height: 650vh;

            .rtd {
                display: block;
                background-image: url(/assets/img/rtd.avif);
                background-position-y: 0;
                background-position-x: center;
                background-size: cover;
                width: 0;
                height: 100vh;
            }

            .intro-wrapper {
                display: block;
                position: absolute;
                top: 5%;
                right: 2em;
                width: fit-content;
                h3 {
                    display: block;
                    font-size: 8rem;
                    color: #213;
                    text-align: right;
                    z-index: 10;
                    font-family: var(--sans-serif);

                    * {
                        display: inline-block;
                    }
                }

                small {
                    display: block;
                    font-size: 7rem;
                    color: #213;
                    text-align: right;
                    z-index: 10;
                    font-family: var(--sans-serif);
                }

                p {
                    margin-top: 1em;
                    text-align: right;
                    font-size: 3rem;
                    width: 37ch;
                    backface-visibility: hidden;

                    a {
                        display: inline-block;
                        position: relative;
                        text-decoration: none;
                        background: linear-gradient(
                            90deg,
                            rgb(255, 0, 0) 0%,
                            rgb(255, 154, 0) 10%,
                            rgb(238, 255, 0) 20%,
                            rgb(79, 255, 74) 30%,
                            rgb(63, 255, 216) 40%,
                            rgb(47, 216, 255) 50%,
                            rgb(28, 127, 255) 60%,
                            rgb(95, 21, 255) 70%,
                            rgb(186, 12, 255) 80%,
                            rgb(255, 7, 216) 90%,
                            rgb(255, 0, 0) 100%
                        ) no-repeat;
                        background-clip: text;
                        -webkit-background-clip: text;
                        color: transparent;

                        &::before {
                            content: '';
                            display: block;
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            height: .07em;
                            width: 100%;
                            background: linear-gradient(
                                90deg,
                                rgb(255, 0, 0) 0%,
                                rgb(255, 154, 0) 10%,
                                rgb(238, 255, 0) 20%,
                                rgb(79, 255, 74) 30%,
                                rgb(63, 255, 216) 40%,
                                rgb(47, 216, 255) 50%,
                                rgb(28, 127, 255) 60%,
                                rgb(95, 21, 255) 70%,
                                rgb(186, 12, 255) 80%,
                                rgb(255, 7, 216) 90%,
                                rgb(255, 0, 0) 100%
                            ) no-repeat;
                            border-radius: 100vw;
                        }
                    }
                }

                .progress {
                    position: absolute;
                    top: -6em;
                    right: -2em;
                    height: 2rem;
                    width: 0;
                    border-bottom-left-radius: 3rem;
                    background-color: #213;
                }
            }

            .btn-wrapper {
                display: block;
                position: absolute;
                top: 32%;
                right: 2rem;
                width: 100%;
                z-index: 10;

                .link {
                    display: none;
                    top: 0;
                    right: 2em;
                    position: absolute;
                    transform-origin: right top;
                    width: 40rem;

                    span:has(svg) {
                        transition: text-indent 1s ease;
                    }

                    span:hover:has(svg) {
                        text-indent: -5rem;

                        svg {
                            top: 50%;
                            rotate: 0deg;
                            transition: top 1s ease, rotate 1s 1s ease;
                        }
                    }

                    svg {
                        position: absolute;
                        top: 200%;
                        right: 5rem;
                        width: 5rem;
                        translate: 0 -50%;
                        rotate: -90deg;
                        transition: top 1s ease, rotate 1s ease;
                    }
                }
            }
        }

    }

    .wip {
        display: block;
        text-align: center;
        margin-bottom: 5rem;
    }

    .projects {
        .title {
            display: grid;
            font-size: 3.5rem;
            text-align: center;
            height: 100svh;
            place-items: center;
            position: relative;

            
            .arrow-down {
                position: absolute;
                bottom: 2rem;
                left: 50%;
                translate: -50% 0;
                width: calc(64px + 2rem);
                height: calc(64px + 2rem);
                padding: 2rem;
                background-color: #203;
                clip-path: circle(50%);
                
                a {
                    display: block;
                }

                svg {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    translate: -50% -50%;
                    fill: white;
                    width: 64px;
                    height: 64px;
                }
            }
        }
        .projects-wrapper {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
            gap: 3rem;
            padding: 3rem;
            align-items: baseline;
            justify-content: center;

            .project {
                &.validity img {
                    image-rendering: pixelated;
                }

                img {
                    display: block;
                    width: 80%;
                    height: 80%;
                    max-height: 300px;
                    max-width: 300px;
                    margin-inline: auto;
                    border-radius: 2rem;
                }
                
                h2 {
                    font-size: 2rem;
                    text-align: center;
                    margin-block: 1.5rem;

                    .wip {
                        font-size: 1.5rem;
                        font-family: var(--sans-serif);
                        margin: 0;
                    }
                }

                p {
                    font-size: 1.3rem;
                    text-align: center;
                    margin-bottom: 1.5rem;
                    margin-inline: auto;
                    max-width: 33ch;

                    a {
                        display: inline-block !important;
                        margin-inline: 0;
                        font-family: var(--sans-serif) !important;
                        font-weight: normal !important;
                        font-style: italic;

                        &::after {
                            bottom: -.05em !important;
                        }

                        &:hover {
                            animation: colorBlink 5s infinite forwards;
                            text-shadow: black 1px 1px;
    
                            &::after {
                                animation: backgroundColorBlink 5s infinite forwards;
                                box-shadow: black 1px 1px
                            }
                        }
                    }
                }

                a {
                    display: block;
                    width: fit-content;
                    margin-inline: auto;
                    position: relative;
                    color: #102;
                    font-family: var(--monospace);
                    font-weight: bolder;
                    text-decoration: none;

                    &::after {
                        content: "";
                        display: block;
                        position: absolute;
                        bottom: -.1em;
                        left: 0;
                        width: 100%;
                        height: 2px;
                        background-color: #102
                    }

                    &:hover {
                        animation: colorBlink 5s infinite forwards;
                        text-shadow: black 2px 2px;

                        &::after {
                            animation: backgroundColorBlink 5s infinite forwards;
                            box-shadow: black 2px 2px
                        }
                    }

                }
                
                .visit {
                    margin-top: .75rem;
                }
            }
        }
    }
}

body:has(.port-hero) header {
    position: relative;

    .background, .blur {
        position: absolute;
    }
}

footer {
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 1em;
    background-color: #abf8;
    text-align: center;
    color: black;
    height: 10svh;
    line-height: .8em;
    display: grid;
    place-items: center;

    :is(.name, .license) {
        position: relative;
        color: #102;
        font-family: var(--monospace);
        font-weight: bolder;
        text-decoration: none
    }

    :is(.name, .license)::after {
        content: "";
        display: block;
        position: absolute;
        bottom: -.1em;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: #102
    }
}

@media screen and (width >= 600px) {

    #hamburger:hover span.line-1:not(:is(.opening, .opened, .closing) *) {
        translate: .5em .2em !important
    }

    #hamburger:hover span.line-3:not(:is(.opening, .opened, .closing) *) {
        translate: -.5em -.2em !important
    }

    #hamburger:hover:is(:is(.opened) *) {
        rotate: 180deg !important
    }

    .logo:hover {
        polygon:is(.logo polygon) {
            animation: colorBlink 5s infinite forwards
        }

        * {
            stroke: black;
            stroke-width: 33px
        }
    }

    custom-details[open] {
        svg:not(.logo):hover {
            animation: colorBlink 5s infinite forwards;
            stroke: black;
            stroke-width: 1px;
            overflow: visible
        }
    }

    .contact {
        .in:hover .text::after {
            width: calc(100% + 1.5em)
        }

        a:hover .text::after {
            width: 100%
        }
    }

    footer {
        :is(.name, .license):hover {
            animation: colorBlink 5s infinite forwards;
            text-shadow: black 2px 2px
        }

        :is(.name, .license):hover::after {
            animation: backgroundColorBlink 5s infinite forwards;
            box-shadow: black 2px 2px
        }
    }
}

@media screen and (width <= 980px) {
    header {
        nav li {
            .text {
                font-size: 5rem !important
            }

            .num {
                font-size: 3rem !important;
            }

            legend {
                font-size: 1.3rem;
            }
        }
    }

    .about-me {
        display: block !important;

        .left, .right {
            padding-block: 1em !important
        }
    }

    .mobile-break {
        display: inline !important
    }
}

@media screen and (width <= 800px) {
    header {
        nav li {
            font-size: 3.33rem !important
        }
    }
}

@media screen and (width <= 600px) {
    header {
        nav li {
            .text {
                font-size: 3rem !important;
            }

            .num, legend {
                display: none !important;
            }
        }
    }

    .projects .title h1 {
        font-size: 3rem !important;
    }

    .hero-text {
        h1 {
            font-size: 2.33rem !important
        }

        small {
            font-size: 1.33rem !important
        }

        .avatar {
            scale: 2 !important;
            margin-bottom: 0 !important
        }
    }

    .about-me {
        h2 {
            font-size: 3rem !important
        }

        p, div, span {
            font-size: 2rem !important
        }
    }

    .contact {
        .in .text::after {
            width: calc(100% + 1.5em) !important
        }

        a .text::after {
            width: 100% !important
        }
    }
}

/* #region keyframes */

@keyframes moveBack {
    from {
        left: 0;
    }
    to {
        left: -100%;
    }
}

@keyframes moveBackBack {
    from {
        background-position-x: center;
    }
    to {
        background-position-x: -8em;
    }
}

@keyframes firstToCross {
    from {
        rotate: 0
    }

    to {
        rotate: 45deg;
        translate: 0 calc(.5em + .25em)
    }
}

@keyframes secondToCross {
    0% {
    }

    100% {
        translate: -200%
    }
}

@keyframes thirdToCross {
    from {
        rotate: 0
    }

    to {
        rotate: -45deg;
        translate: 0 calc(-1 * (.5em + .25em))
    }
}

@keyframes crossToFirst {
    to {
        rotate: 0;
        translate: 0 0
    }

    from {
        rotate: 45deg;
        translate: 0 calc(.5em + .25em)
    }
}

@keyframes crossToSecond {
    to {
        translate: 0 0
    }

    from {
        translate: -200%
    }
}

@keyframes crossToThird {
    to {
        rotate: 0;
        translate: 0 0
    }

    from {
        rotate: -45deg;
        translate: 0 calc(-1 * (.5em + .33em))
    }
}

@keyframes colorBlink {
    0%, 9.08% {
        fill: #f33;
        color: #f33
    }

    9.09%, 18.17% {
        fill: #fa3;
        color: #fa3
    }

    18.18%, 27.26% {
        fill: #ff3;
        color: #ff3
    }

    27.27%, 36.35% {
        fill: #af3;
        color: #af3
    }

    36.36%, 45.44% {
        fill: #3f3;
        color: #3f3
    }

    45.45%, 54.53% {
        fill: #3fa;
        color: #3fa
    }

    54.54%, 63.62% {
        fill: #3ff;
        color: #3ff
    }

    63.63%, 72.71% {
        fill: #3af;
        color: #3af
    }

    72.72%, 81.80% {
        fill: #33f;
        color: #33f
    }

    81.81%, 90.89% {
        fill: #a3f;
        color: #a3f
    }

    90.90%, 100% {
        fill: #f3f;
        color: #f3f
    }
}

@keyframes backgroundColorBlink {
    0%, 9.08% {
        background-color: #f33
    }

    9.09%, 18.17% {
        background-color: #fa3
    }

    18.18%, 27.26% {
        background-color: #ff3
    }

    27.27%, 36.35% {
        background-color: #af3
    }

    36.36%, 45.44% {
        background-color: #3f3
    }

    45.45%, 54.53% {
        background-color: #3fa
    }

    54.54%, 63.62% {
        background-color: #3ff
    }

    63.63%, 72.71% {
        background-color: #3af
    }

    72.72%, 81.80% {
        background-color: #33f
    }

    81.81%, 90.89% {
        background-color: #a3f
    }

    90.90%, 100% {
        background-color: #f3f
    }
}

@keyframes rotate {
    from {
    rotate: 0deg
    }

    to {
    rotate: 360deg
    }
}

@keyframes arrowWiggle {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-25px)
    }
}

/* #endregion */
